* {
    margin: 0;
    padding: 0;
    font-family: "helvetica";
}

body {

}

.error {
    color: red;
}

.login_page {
    background: #F8F8FF;
}

.login_page {
    text-align: center;
}

.login_page li {
    list-style: none;
    padding: 6px;
}

.content {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    " header header header header header header "
    " nav nav nav nav nav nav "
    " main main main main main main "
    " section section section section section section "
    " aside aside aside aside aside aside "
    ;
}

header {
    grid-area: header;
    text-align: center;
}

header h2 {
    padding: 6px;
}

nav {
    grid-area: nav;
    margin: 0px 12px;
}

nav ul li {
    display: inline-block;
    padding: 12px 24px;
    list-style: none;
    background: #272727;
    border-radius: 6px;
}

nav ul li:hover {
    background: #fafafa;
}

nav ul li:hover > a {
    color: #272727;
}

nav ul li a {
    color: #fafafa;
    text-decoration: none;
}

main {
    grid-area: main;
}

.sub_menu {
    text-align: center;
}

.sub_menu form ul li {
    display: inline-block;
}

.button {
    padding: 9px 18px;
    border-radius: 6px;
    display: inline-block;
}

.button.login {
    background: #272727;
    color: #fafafa;
}

.button.search {
    background: #272727;
    color: #fafafa;
}

.button.link:hover {
    background: #272727;
    color: #fafafa;
}

footer {
    margin: 60px;
    text-align: center;
}

footer span {
    font-weight: bold;
}
