* {
    margin: 0;
    padding: 0;
    font-family: "helvetica";
}

body {

}

.error {
    color: red;
}

.login_page {
    background: #F8F8FF;
}

.login_page {
    text-align: center;
}

.login_page li {
    list-style: none;
    padding: 6px;
}

.content {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    " header header header header header header "
    " nav nav nav nav nav nav "
    " main main main main main main "
    " section section section section section section "
    " aside aside aside aside aside aside "
    ;
}

header {
    grid-area: header;
    text-align: center;
}

header h2 {
    padding: 6px;
}

nav {
    grid-area: nav;
    margin: 0px 12px;
}

nav ul li {
    display: inline-block;
    padding: 12px 24px;
    list-style: none;
    background: #1565C0;
    border-radius: 6px;
}

/* nav ul li:hover {
    background: #fafafa;
}

nav ul li:hover > a {
    color: #272727;
} */

nav ul li a {
    color: #fafafa;
    text-decoration: none;
}

nav ul li a:hover {
    background: #fafafa;
    color: #272727;
    border-radius: 50%;
    padding: 3px;
}

main {
    grid-area: main;
}

.sub_menu {
    text-align: center;
}

.sub_menu form ul li {
    display: inline-block;
}

.button {
    padding: 9px 18px;
    background: #1565C0;
    color: white;
    display: inline-block;
}

.button.login {
    background: #272727;
    color: #fafafa;
}

.button.search {
    background: #272727;
    color: #fafafa;
}

.button.link:hover {
    background: #272727;
    color: #fafafa;
}

footer {
    margin: 60px;
    text-align: center;
}

footer span {
    font-weight: bold;
}

.invoice_header {
    margin: 12px auto;
    padding: 12px;
    border: 1px solid black;
}

.invoice_header thead tr td {
    padding: 3px 9px;
}

.invoice_header thead tr td input {
    border: 0px;
    border-bottom: 1px solid black;
}

.invoice_details {
    margin: 6px auto;
    padding: 12px;
    border: 1px solid black;
    border-collapse: collapse;
}

.invoice_details thead tr th {
    padding: 3px 9px;
    border: 1px solid black;
}

.invoice_details tbody td {
    padding: 6px 9px;
    border: 1px solid black;
}

.invoice_details tbody th {
    padding: 6px 9px;
    border: 1px solid black;
}

.wide_input {
    width: 480px;
}

.view_invoice_header table {
    margin: 12px auto;
    border-collapse: collapse;
}

.view_invoice_header table thead tr td {
    padding: 6px 60px;
    border: 1px solid silver;
}

.invoice_top table {
    margin: 3px auto;
}

.invoice_top img {
    width: 300px;
}

.invoice_top ul li {
    list-style: none;
    padding: 3px 12px;
}

.view_invoice_details table {
    margin: 12px auto;
    border-collapse: collapse;
}

.view_invoice_details table thead tr th {
    border: 1px solid silver;
    padding: 6px 12px;
}

.view_invoice_details table tbody tr td {
    border: 1px solid silver;
    padding: 6px 36px;
}

.view_invoice_details table tbody tr th {
    border: 1px solid silver;
    padding: 6px 12px;
}

.table.large table {
    margin: 12px auto;
    border-collapse: collapse;
}

.table.large table thead tr th {
    padding: 6px 18px;
    border: 1px solid silver;
}

.table.large table tbody tr td {
    padding: 6px 18px;
    border: 1px solid silver;
}

.searchbox {
    padding: 9px 6px;
}

.notice.error {
    color: red;
}
