* {
    margin: 0px;
    padding: 0px;
}

.bold {
    font-weight: bold;
}

header {
    border-bottom: 4px solid silver;
}

header table {
    margin: 3px;
}

header img {
    margin-left: 12px;
}

header img {
    width: 180px;
}

header table thead tr td:nth-of-type(odd) {
    padding-right: 60px;
}

header table thead tr td:nth-of-type(even) {
    padding-left: 60px;
}

header table thead tr td ul li {
    margin-left: 6px;
    list-style: none;
}


.invoice_header {
    margin: 6px;
}

.invoice_body {
    text-align: center;
}

.invoice_body table {
    margin: 6px auto;
    border-collapse: collapse;
    width: 96%;
}

.invoice_body table tr th {
    padding: 6px 24px;
    border: 1px solid silver;
}

.invoice_body table tbody tr td {
    padding: 6px 24px;
    border: 1px solid silver;
}
/*
.invoice_body table tbody tr td:nth-of-type(1) {
    text-align: left;
} */

.invoice_tail {
    margin: 24px 6px;
}

.payment_header {
    padding: 6px;
}

.payment_header table {
    border-collapse: collapse;
}

.payment_header table thead td:nth-of-type(1) {
    padding-right: 240px;
}

.payment_header table thead tr td ul li {
    list-style: none;
}

.payment_details {
    padding: 6px;
}

.payment_details table {
    width: 100%;
    border-collapse: collapse;
}

.payment_details table thead tr td {
    font-weight: bold;
    border-bottom: 2px solid black;
}

.payment_details table tr td:nth-of-type(odd) {
    width: 25%;
    padding-top: 6px;
}

.payment_details table tr td:nth-of-type(even) {
    width: 50%;
    padding-top: 6px;
}

.payment_footer table {
    margin-top: 18px;
    width: 96%;
}


.payment_footer table thead tr td {
    padding: 30px 6px;
}

footer {
    margin: 24px;
    text-align: center;
}
